@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* font Size */
  --font-large: 50px;
  --font-medium: 30px;

  /* border */
  --border-radius: 10px;
  --border-base: 3px solid;

  /* gameSize */
  --game-width: 1120px;
  --game-height: 630px;
  --gameObj-size: 70px;

  --animation-transition: transform 100ms linear;
}

body {
  font-family: "TmoneyRoundWindExtraBold";
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

section {
  border: var(--border-base) rgb(56, 136, 56);
  border-radius: calc(var(--border-radius) * 3);
  background-image: url(img/bg_all.png);
  background-repeat: no-repeat;
  background-size: var(--game-width) var(--game-height);
  width: var(--game-width);
  height: var(--game-height);
}

section nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 150px;
}

section nav button {
  font-size: var(--font-medium);
  outline: none;
  cursor: pointer;
  background-color: rgba(102, 255, 191, 0.5);
  border: var(--border-base) rgba(255, 255, 255, 0.548);
  border-radius: var(--border-radius);
  height: 50px;
}

section nav .start {
  position: absolute;
  top: 45%;
  font-size: calc(var(--font-large) * 1.5);
  height: auto;
}

section nav .timer {
  display: none;
  font-size: var(--font-medium);
  margin: 10px 0;
  text-align: center;
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.185);
  padding: 10px;
  user-select:none;
}

section nav .scoreBox {
  display: none;
  align-items: center;
  user-select:none;
}

section nav .score {
  font-size: var(--font-large);
  text-align: center;
  color: white;
  width: 50px;
  height: 50px;
}

section nav .catScore {
  padding-top: 20px;
  width: var(--gameObj-size);
  height: var(--gameObj-size);
}

section .unitGround {
  width: calc(var(--game-width) * 0.95);
  height: calc(var(--game-height) / 2);
}

.cat {
  width: var(--gameObj-size);
  height: var(--gameObj-size);
}

.ghost {
  width: var(--gameObj-size);
  height: var(--gameObj-size);
}

section .unitGround .cat,
section .unitGround .ghost {
  position: absolute;
  cursor: pointer;
  transition: var(--animation-transition);
}

button,
i {
  transition: var(--animation-transition);
}

button:hover,
i:hover,
.cat:hover,
.ghost:hover {
  transform: scale(1.2);
}

section .stop {
  color: rgb(201, 37, 37);
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: calc(var(--game-width) / 2.4);
  height: calc(var(--game-height) / 3.2);
  background-color: rgba(41, 41, 41, 0.6);
  border-radius: calc(var(--border-radius) * 3);
  transform: translateY(150px);
}

.gameover,
.win {
  display: none;
  color: white;
  font-size: var(--font-large);
}

.fa-redo {
  background-color: lightskyblue;
  border-radius: var(--border-radius);
  border: var(--border-base) white;
  color: black;
  font-size: var(--font-large);
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
}
